<div class="confirmation-div">
    <img class="img" src="../../../assets/confetti.jpg" alt="">
    <h2 class="title">Order Placed Successfully</h2><br>
    <span class="dis">hurray!!! your order is confirmed</span><br>
    <span class="dis">The order id is #123456 save the order id for further communication..</span>
    <table class="table">
        <div class="table-email">
            <th class="th"><span class="text-head">Email us</span></th><br>
            <td class="td"><span class="text-data">admi@bookstore.com</span></td>
        </div>
        <div class="table-contact">
            <th class="th"><span class="text-head">Contact us</span></th><br>
            <td class="td-phone"><span class="text-data-phone">+91 9876543210</span></td>
        </div>
        <div class="table-address">
            <th class="th"><span class="text-head-address">Address</span></th><br>
            <td class="td">
                <span class="text-data-address">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</span>
            </td>
        </div>
    </table>
    <button class="button" routerLink="/home" mat-flat-button>
        <span class="button-text">CONTINUE SHOPPING</span>
    </button>
</div>
